<tr>                  
    <td>
        <%= obj["Organization Name"] %>
    </td>                  
    <td>
        <%= formatAddress(obj) %><br />
        (<a href='http://maps.google.com/?q=<%= formatAddress(obj) %>' target='_blank'>Get directions</a>)
    </td> 
    <td>
        <%= obj["Course Name"] %>
    </td>                 
    <td>
        <%= obj["Learning Mode"] %>
    </td>
</tr>